
@{
    ViewBag.Title = "Aboutus";
}

<h2>Aboutus</h2>

<div class="container">
    <div class="jumbotron">
        <h1>iD</h1>
        <p>The new way to introduce your self for Bussines Community or Social Community</p>
    </div>
</div>
